# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# ----------------------
# Virtual environments
# ----------------------
.venv/
venv/
env/

# ----------------------
# Testing / coverage
# ----------------------
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ----------------------
# Streamlit
# ----------------------
.streamlit/

# ----------------------
# Airflow
# ----------------------
airflow/logs/
airflow/plugins/
airflow/config/

# ----------------------
# Generated Spark output
# ----------------------
data/curated/fact_orders_spark.parquet/

# ----------------------
# Generated warehouse / local data artifacts
# ----------------------
data/warehouse/retail.duckdb
data/warehouse/*.wal

# ----------------------
# Local databases / generated data
# ----------------------
data/raw/*
data/processed/*
data/warehouse/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/warehouse/.gitkeep

# ----------------------
# OS / editor files
# ----------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------
# Misc
# ----------------------
structure.txt
TODO
*.log

# ----------------------
# Local CLI binaries
# ----------------------
kubectl
kind

# ----------------------
# dbt generated artifacts
# ----------------------
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml