# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# ----------------------
# Virtual environments
# ----------------------
.venv/
venv/
env/

# ----------------------
# Testing / coverage
# ----------------------
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ----------------------
# Streamlit
# ----------------------
.streamlit/

# ----------------------
# Airflow
# ----------------------
airflow/logs/
airflow/plugins/
airflow/config/

# ----------------------
# Local databases / generated data
# ----------------------
data/raw/*
data/processed/*
data/warehouse/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/warehouse/.gitkeep

# ----------------------
# OS / editor files
# ----------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------
# Misc
# ----------------------
structure.txt
TODO
*.log